
    main .home-content .content .slide-show {
        position: relative;
        top: 0.5rem;
        width: 105rem;
        height: 50rem;
        margin-bottom: 4rem;
    }

    main .home-content .content .slide-show .list-pic {
        display: block;
        width: 100%;
        height: 106%;
        border-radius: 1rem;
        border: 2px solid black;
        overflow: hidden;
        position: relative;
    }

    .slide-show .list-pic .images-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        transition: .9s ease;
    }

    .slide-show .list-pic .images-wrapper img {
        width: 100%;
        object-fit: cover;
        transition: transform 1s ease;
    }

    .slide-show .list-pic .btnLR {
        display: flex;
        position: absolute;
        width: 100%;
        top: 40%;
        justify-content: space-between;
        padding: .5rem;
    }

    .content .slide-show .list-pic .btnLR i{
        font-size: 4rem;
        color: var(--yellow-color);
        padding: .5rem;
        display: none;
        transition: .5s ease;
        border-radius: 1rem;
        border: 2px solid black;
    }

    .content .slide-show:hover .list-pic .btnLR i{
        display: inline;
        background-color: var(--focus-hover-color);
    }
    /* FLASH_SALE_TABLE */

    .flash-sale-table-bg{
        position: relative;
        width: 105rem;
        height: 43rem;
        background-color: var(--header_color);
        margin-top: 2.5rem;
        padding: 1rem 3rem;
        border-radius: .9rem;
    }

    .flash-sale-table{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .head-flash-sale{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: 2rem;
    }

    .head-flash-sale .text{
        display: flex;
        text-decoration: underline;
    }

    .head-flash-sale .text span{
        font-size: 3rem;
        font-weight: bold;
    }

    .head-flash-sale .text img{
        display: block;
        width: 4rem;
        height: 4rem;
        padding-bottom: .4rem;
    }

    .head-flash-sale .name-website-flash-sale{
        font-size: 2.5rem;
        color: var(--yellow-color);
        text-shadow:    -1px -1px 0 #000,  
                        1px -1px 0 #000,
                        -1px  1px 0 #000,
                        1px  1px 0 #000;;
    }

    .head-flash-sale .count-time{
        display: flex;
        gap: .5rem;
    }

    .head-flash-sale .count-time .time-box{
        display: flex;
        background-color:white;
        width: 4rem;
        height: 4.5rem;
        border-radius: .5rem;
        flex-direction: column;
        padding: 0.5rem;
        text-align: center;
        border:0.1rem solid black;
    }    

    .head-flash-sale .count-time .time-box strong{
        font-size: 1.5rem;
    }

    .head-flash-sale .count-time .time-box small{
        font-size: 1rem;
    }


    .body-flash-sale{
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;
        padding-top: 1rem;
    }

    .body-flash-sale .product-card{
        display: flex;
        flex-direction: column;
        width: 22rem;
        height: 30rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: var(--box-shadow);
        padding: 1rem 1rem;
        position: relative;
        transition: .35s ease-out ;
        scale: 0.93;
    }

    .body-flash-sale .product-card:hover{
        scale: 1;
    }

    .body-flash-sale .product-card .product-img {
        height: 19rem;
        width: 100%;
    }

    .body-flash-sale .product-card .product-img img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: .5rem;
    }

    .body-flash-sale .product-card .product-content {
        flex-grow: .5;
    }

    .product-title h3 a {
        font-size: 1.2rem;
        margin-block: 0.5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        height: 3rem; 
        line-height: 1.5rem;
        text-overflow: ellipsis;
        color: #000;
    }


    .product-content .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    .product-card .price .price-sale {
        color: red;
        font-weight: 600;
    }

    .product-card .price .price-not-sale {
        text-decoration: line-through;
        color: gray;
    }

    .product-card .price .fa-heart, .fa-heart {
        font-size: 1.5rem;
        margin-right: .5rem;
    }

    .product-card .progress-bar{
        width: 100%;
        height: .8rem;
        border: 1px solid black;
        border-radius: 999rem;
        display: block;
        position: relative;
        overflow: hidden;
        background-color: #ef8282cf;
    }

    .product-card .progress-bar .percent{
        position: absolute;
        background-color: #ff0000;
        top: 0;
        z-index: 1;
        border-radius: 999rem;
        height: 100%;
    }


    .foot-flash-sale {
        text-align: center;
        margin-top: 1rem;
        display: block;
    }

    .foot-flash-sale .btn-view-all {
        display: inline-block;
        text-align: center;
        background-color: white;
        padding: 1rem 5rem;
        font-size: 1.2rem;
        border-radius: .5rem;
        border: 1px solid black;
        transition: all .3s ;
    }


    .foot-flash-sale .btn-view-all:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    }

    .foot-flash-sale .btn-view-all:hover {
        background-color: transparent;
        color: white;
        border: 0.20rem solid white;
    }
    


































    