* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #bcd8e4;
    margin: 50px;
    padding: 10;
}

.container {
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 300px;
    background-color: #f5f7fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    background-color: #c2185b;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.sidebar nav {
    width: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.nav-item.active {
    background-color: #e53935;
    color: white;
}

.nav-item:hover {
    background-color: #e53935;
    color: white;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 700px;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.gender {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

button {
    background-color: #e53935;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c2185b;
}